@model IEnumerable<Vertise.Models.Message>
@{
    ViewBag.Title = "Messages";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul>
@foreach (var item in Model) {
    <li>
        <p>@Html.DisplayFor(modelItem => item.Body)</p>
        <p>@Html.DisplayFor(modelItem => item.Created)</p>
        <p>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </p>
    </li>
}
</ul>
